header.header2 
    .large-container
        .header-content
            .logos-part 
                a(href="").nafto 
                    img(src="./img/logos/nafto-color.svg", alt="")
                a(href="").frng-footer
                    img(src="./img/logos/frng_2.svg", alt="")    
            ul.menu  
                li 
                    a(href="index.html#story") Історії  
                li 
                    a(href="index.html#idea") Про проєкт         
            h3.h3 #ГероїГазовогоФронту
