header.header2 
    .large-container
        .header-content
            .logos-part 
                a(href="").nafto 
                    img(src="./img/logos/naftogaz_2_logo.svg", alt="")
                a(href="").frng-footer
                    img(src="./img/logos/frng_2.svg", alt="")    
            ul.menu  
                li 
                    a(href="#story") Історії  
                li 
                    a(href="#idea") Про проєкт         
            h3.h3 #ГероїГазовогоФронту
