extends ./helpers/layout/_layout

block value
  - const path = ".";

block header
  include components/header/_header2

block main
  include components/main/_andriy_klec

block footer
  include components/footer/_footer