meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name='description', content="Україна завершила найважчий опалювальний сезон. Погрози ворога заморозити нас не здійснились. Завдяки щоденній роботі тисяч фахівців Нафтогазу українці були з теплом.")

//- og
meta(property="og:title" content="Нафтогаз України | Герої газового фронту")
meta(property="og:type" content="website")
meta(property="og:url" content="")
meta(property='og:locale', content='naftogaz')
meta(property="og:site_name" content="Нафтогаз України | Герої газового фронту")
meta(property="og:description" content="Україна завершила найважчий опалювальний сезон. Погрози ворога заморозити нас не здійснились. Завдяки щоденній роботі тисяч фахівців Нафтогазу українці були з теплом.")
meta(property="og:image" content="card.png")

//- twitter
meta(name="twitter:card", content="Нафтогаз України | Герої газового фронту")
meta(name="twitter:site" content="website")
meta(name="twitter:domain" content="")
meta(name="twitter:title" content="Нафтогаз України | Герої газового фронту")
meta(name="twitter:description" content="Україна завершила найважчий опалювальний сезон. Погрози ворога заморозити нас не здійснились. Завдяки щоденній роботі тисяч фахівців Нафтогазу українці були з теплом.")
meta(name="twitter:image" content="card.png")

//- //- facebook
//- meta(property="fb:admins" content="")
//- meta(property="fb:app_id" content="")

//- Title
title Нафтогаз України | Герої газового фронту
