.hero-block 
    .large-container
        .hero-main 
            .portrait-part 
                img(src="./img/people/klec/klec1.png", alt="photo")
            .information-part 
                p.person-name Андрій Клец
                .mobile-portrait 
                    img(src="./img/people/klec/klec1.png", alt="photo")
                p.person-work оператор з видобутку газу Укргазвидобування

                p.short-info 
                .mega-quote 
                    p На початку березня нас окупували. Зв’язку - немає, інтернет - не працює, з їжею - проблеми, світло - з перебоями, виїзд - задача із зірочкою.
    .container
        h1.story-name  Ми на своїй землі й бігти маємо не ми, а вони.

        .centered-text
            p.normal_text 
                | 24 лютого 2022 року для мене почалося о 4 ранку. Нічне жахіття наяву. За вікном - потужні вибухи. Над головою - ворожі винищувачі. Обрій - у заграві. Втім, не від сонця, а від “прильотів”. В голові - паніка. Від страху плутаються думки й рефреном звучить внутрішній поклик тікати. Я піддаюся й починаю збирати тривожні валізки: одну - для дружини, другу - для мене. Година зборів, нескінченних роздумів та спроб осягнути масштаб катастрофи. Розумію, що 
                span жоден із варіантів втечі - ні мене, ні дружину не влаштовує. 
                | Природний імпульс витісняє раціональність - ми на своїй землі й бігти маємо не ми, а вони. Рішення прийнято - залишаємось й боремося до переможного кінця.
            .margin-block 
            h2.h2_2 "Відпустка"
            p.normal_text Повномасштабне вторгнення припало на відпустку. До виходу на роботу лишалося близько трьох тижнів. Сидіти вдома - непродуктивно. Йти з голими руками на озброєних до зубів окупантів - тим паче. Так я почав волонтерити. Спочатку розвозив їжу та молоко по односельцях, які того потребували. Після - почав евакуйовувати жінок, дітей та тих, хто не міг виїхати самостійно. 
            
            p.normal_text 
                span На початку березня нас окупували. 
                | Зв’язку - немає, інтернет - не працює, з їжею - проблеми, світло - з перебоями, виїзд - задача із зірочкою. Довелося взяти ситуацію у власні руки та почати витягати людей із лап мороку повз ворожі блокпости. Ненависть окупантів в точках перевірки проявлялася на повну. Їм туманила розум влада над нашими життями й можливість вбити будь-кого, хто знаходився у машині: від жінок, до дітей. Про це вони не стидалися казати напряму. Тож, 
                span нерідко, евакуація проходила під черги з автоматів, кулеметів та розриви ворожих мін.

        .blue-quote-block 
            p.blue-quote 
                | 16 березня відпустка скінчилася. Волонтерство почав поєднувати з роботою на одному з газоконденсатних родовищ. Його стале функціонування врятувало не менше життів, ніж вдала евакуація. 
                span Тисячі сімей отримували тепло 
                | та завжди мали на чому приготувати їжу.
        .centered-text
            p.normal_text
                | Моє підприємство забезпечувало газом як регіон, так і всю Україну. Втім, працювати доводилося не завдяки, а всупереч. 
                span Кожен мій колега щодня ризикував не доїхати до робочого місця.
                |  Окупанти нашпигували своїми людьми та блокпостами кожен квадратний метр. Здебільшого ті, кого доводилося зустрічати - озброєні, зазомбовані, неадекватні та п’яні. Пам’ятаю, як по дорозі на роботу нас із колегами підрізала ворожа техніка. З неї вистрибнуло кілька бурятів у російському камуфляжі. Усі - в бойовій готовності. Кожен - у перманентному пошуку “бандерівців”. Нас поклали обличчям на асфальт та взяли на мушку. Тим часом - перевернули всю машину догори дриґом. Хотіли забрати її на нужди Мордору, втім,  в останній момент, чомусь, передумали. Кинули кілька принизливих фраз, пригрозили наступного разу розстріляти, стрибнули у свої броньовики та поїхали далі. Нам же наказали повертатися.
            p.normal_text Звісно, ми продовжили їздити та виконувати свої функціональні обов’язки. Бо, з одного боку, кожен розумів наскільки наша робота важлива, а з іншого - трудові будні давали змогу бодай на кілька годин перемкнутися з війни на улюблену справу. Коли зайнятий тим, що понад 16 років наповнює сенсом твоє життя, то перестаєш зважати навіть на регулярні обстріли та ймовірну небезпеку. І ця аксіома працювала, і працює для кожного, кому я тисну руку на робочому місці й для кожного, хто видобуває газ, незважаючи ні на що. 
        .photo-block 
            img(src="./img/people/klec/klec2.png", alt="")
        .centered-text
            .margin-block 
            h2.h2_2 Тортури
            p.normal_text Цей день я не забуду ніколи. Дзвінок від керівництва - аварія на газопроводі. Ворог вирішив ще глибше затягнути окуповані міста у холодне болото “руського миру”. Щоб завадити його планам, діяти треба “на позавчора”. Виїжджаємо з колегами на місце обстрілу. Роботи майже закінчили. І тут - під’їжджає ворожий “Град”. Ми - в полі. До ворога - 50 метрів. Самі - сховалися, а от машину прибрати не встигли. 
                span Розуміємо, побачать - розстріляють. 
                | Лягли на землю - спостерігаємо. Окупанти розкладаються, про щось перемовляються по рації та роблять залп. Згодом - сідають на техніку та їдуть. Ми ж - за лічені хвилини завершуємо всі роботи, стрибаємо в нашу автівку та мчимо додому. Вперше не знав як пояснити дружині чому такий блідий та чому трусяться руки. В голові ж крутилась думка  - ймовірно, ворог знов накрив один із наших населених пунктів, вкотре вбив цивільних, вчергове знищив мир. Ми стали свідками цього і дивом вціліли.
            p.normal_text Так, разом із іншими газовиками, я боровся за сталий видобуток з березня до серпня. Після - 
                span трапилося найгірше.  
                | На дворі - останній місяць літа. За парканом будинку - група озброєних кадирівців. 
        .blue-quote-block 
            p.blue-quote
                | Вони прийшли за мною.  Після - п’ять днів у тримісному ізоляторі, в який заштовхали дев’ять полонених. Замість їжі - помиї. Вода - з перебоями. Поряд зі мною, окрім чоловіків, 
                span дві жінки - вихователька дитячого садочка та директорка школи. 
                | За межами клітки - крики болю. Там нелюди катують цивільних током та б’ють до напівсмерті. Кілька разів діставалося й мені. 
        .centered-text
            p.normal_text Одного дня російські військові взяли мою машину та підігнали її під катівню. Посадили туди мене та ще кількох жінок. Супроводили нас до нульового блокпоста. Наказали їхати й не озиратися. Будь-який рух вправо, вліво чи назад - розстріл. Щойно ми від’їхали від блокпоста, окупанти відкрили вогонь. 
            span Тоді, ворог ще не знав, що царювати йому залишилося недовго. 

        .photo-block 
            img(src="./img/people/klec/klec3.png", alt="")
        .centered-text
            p.normal_text Одразу ж після звільнення територій від загарбників, ми з дружиною повернулися до рідного села. Моє підприємство продовжило ефективну та сталу роботу. Ми пережили найгарячіший період 2022 та вистояли в найхолодніші дні 2023 року.
        p.big-text  Газ із родовища, на якому я працюю - допоміг зігрітися тисячам, а може й десяткам тисяч сімей. Нас не зламали труднощі й ніколи не підкорять сили країни-окупанта. Вірю, що скоро кожен із нас матиме змогу відсвяткувати найжаданішу перемогу над фашистською росією та її сателітами.