.hero-block 
    .large-container
        .hero-main 
            .portrait-part 
                img(src="./img/people/Iliashevych/Iliashevych1.png", alt="photo")
            .information-part 
                p.person-name Катерина Іляшевич
                .mobile-portrait 
                    img(src="./img/people/Iliashevych/Iliashevych1.png", alt="photo")
                p.person-work Начальник зміни Товарно-транспортної дільниці однієї з нафтоперекачувальних станцій Укртранснафти 

                p.short-info 
                .mega-quote 
                    p Окупанти від початку повномасштабного вторгнення прицільно б’ють по всій нафтогазовій галузі, бо наша стала та ефективна робота, зрештою, дає змогу заправляти техніку, автомобілі, генератори та берегти тепло в домівках українців
    .container
        h1.story-name  Ми - пріоритетна ціль для ворога.
        .centered-text
            p.normal_text 
                | Ми - пріоритетна ціль для ворога. Якщо якась кількість шахедів, калібрів або Х-22 летить у напрямку нашої області, можна не сумніватися - добра половина з ракет прямує в місце, де розташований об'єкт, на якому я працюю. Та навіть найстрашнішим дням повномасштабної війни 
                span нас не вдалося розділити.
            p.normal_text Одна із таких спроб сталася 2 квітня 2022 року. Я прокинулася о 6 ранку і почала збиратися на робочу зміну. За вікном завила сирена. 2 хвилини протяжного гулу й перші звуки вибухів. З повідомлень колег стало зрозуміло - окупантам вдалося пробити щит протиповітряної оборони та накрити градом зі смертоносних ракет промисловість нашого міста. 
            p.normal_text Кілька звуків, схожих на вибухи, було чутно зі сторони нафтопереробного заводу, розташованого неподалік мого місця проживання, а ще один, як з'ясувалося, пролунав на станції, де я працюю. І, хоча розум підказував, що треба рухатись у протилежному напрямку від небезпеки, я, узгодивши свої дії з керівництвом, після завершення повітряної тривоги, прибула на роботу. Будівля операторної, де я зазвичай проводжу більшу частину часу, була суттєво ушкоджена. 
                span Всюди лежали уламки, цегла та бите скло. 
                | Резервуар для нафти більше нагадував ворота до пекла, з яких виривалися язики полум’я. 
        .blue-quote-block 
            p.blue-quote 
                | Часу зволікати не було - 
                span вогонь впритул підібрався до вцілілих резервуарів. 
                |  І хоча глибоко в душі я відчувала несамовитий жах, 
                span усі протоколи ми з колегами виконали вчасно. 
        .centered-text
            p.normal_text
                | На щастя, завдяки злагодженим діям моїх колег, добровільної пожежної команди та підрозділів ДСНС вогонь вдалося швидко побороти й ніхто не постраждав. Людей із будівлі операторної 
                span врятували дві прості речі: знання й дотримання безпекового регламенту та удача. 
                | Перший - наказав усім перечекати тривогу у бомбосховищі, а друга - дозволила оперативно за кілька хвилин  спуститись під землю. Мить зволікань на будь-якому з етапів - і наслідки були б катастрофічними.

            .margin-block 
            h2.h2_2 24 лютого 2022 року
            p.normal_text Відіграло  свою роль і те, що до подібної тактики росіян, нашим нафтовикам не звикати. Окупанти від початку повномасштабного вторгнення прицільно б’ють по всій нафтогазовій галузі, бо наша стала та ефективна робота, зрештою, дає змогу заправляти техніку, автомобілі, генератори. 
                span Рух фронту, тепло, світло в оселях та навіть ціни на заправних станціях - те, що опосередковано залежить від нас. 
                | І хоча, інколи інстинкти кажуть бігти, серце наказує - битися.
        .photo-block 
            img(src="./img/people//Iliashevych/Iliashevych2.png", alt="")
        .centered-text    
            p.normal_text Так було і 24 лютого 2022 року. В цей день, я прокинулася від звуку ворожих винищувачів. Стрічка новин вже рясніла повідомленнями про повзучий наступ мороку. Вибухи у Києві, Харкові, Івано-Франківську. На дорогах - перші затори з людей, які тікають від смерті. В мережі - самовдоволене обличчя диктатора, який оголошує Україні війну. Після - все, як у тумані. 
                | Пам’ятаю, як з чоловіком 
                span вирішили не тікати й працювати в рідному місті. 
                | Пригадую, як відвели нашого п’ятирічного сина до садочка. Згадую робочий КПП… Прибувши на робоче місця, я переодягнулась у робочу форму та приступила до виконання пунктів регламенту аварійних ситуацій – дії при пожежі. Ця зміна для мене пройшла на одному диханні – все виконувалось оперативно, вчасно, узгоджено з головним офісом та відповідно до планів. Ми відпрацювали на повну. Жодної паніки не було. Тільки завершивши зміну та по поверненню додому я з жахом побачила 
                span трагедію, яка прийшла в мою країну. 
            p.normal_text Відверто кажучи, не знаю, чому вирішила не тікати. Певно, дала про себе знати моя любов до роботи. У мене вся родина - нафтовики, тож полишити справу своїх батьків, кинути людей та підприємство я б не наважилась. І зараз анітрохи про це не жалкую. 
        .photo-block 
            img(src="./img/people/Iliashevych/Iliashevych3.png", alt="")
        p.big-text Вірю, що спільними  зусиллями всього нашого відважного народу ми таки здобудемо перемогу. Мрію знову почати подорожувати світом, будувати плани, радіти успіхам дитини у навчанні та чесно й на всі сто відсотків робити те, що я ціную, люблю та вмію. 
