section.main-screen 
    .illustration-part 
        img(srcset="./img/illustrations/main_men_small.png 640w, ./img/illustrations/main_men.png 920w " , src="./img/illustrations/main_men.png",  alt="") 
    .back-block 
        header.header
            .logo-part
                a(href="").logo-nafto
                    img(src="./img/logos/naftogaz-white.png", alt="")
                a(href="").logo-frng
                    img(src="./img/logos/frng.png", alt="frng_logo")
            nav.navigation
                ul.navigation-ul 
                    li.navigation-li 
                        a.navigation-link.white-links.skroll-link(href="#idea") Про проект  
                    li.navigation-li 
                        a.navigation-link.white-links.skroll-link(href="#story") Історії
        .mobile-main-illustration 
            img(src="./img/illustrations/main_men.png", alt="")               
        .main-info 
            p.hashtag  #ГероїГазовогоФронту
            h1.h1 Дякуємо за тепло героям цієї зими!
section.project-idea#idea
    .container
        h2.h2 Ідея проєкту
        p.section-subname Ми сильні, тому що вдячні своїм героям і цінуємо кожного
        .wrap-parts 
            .part.part-img.left-part.part-1
                //- img(src="./img/illustrations/women.png", alt="") 
            .part.text-part.right-part.part-2 
                h3.h3 #Вистояли!
                p.normal_text Україна завершила найважчий опалювальний сезон. Погрози ворога заморозити нас не здійснились. 
                p.normal_text Завдяки щоденній роботі тисяч фахівців Нафтогазу українці були з теплом. 
                p.normal_text Попри війну продовжується видобуток газу, запускаються нові свердловини. Під обстрілами відновлюється пошкоджена газова інфраструктура. 
            .part.text-part.left-part.part-3
                h3.h3 #Дякуємо!
                p.normal_text Проєкт <span> «Герої Газового фронту» </span>  розповідатиме історії самовідданості, жертовності, мужності людей Нафтогазу.
                p.normal_text Ми розкажемо Світові про незламність українців, які долають ворога на всіх фронтах. 
                p.normal_text Ми надихнемо людей дякувати газовикам за їх працю, посилимо впевненість в майбутньому: якщо пройшли цю зиму, вистроїмо і надалі до нашої Перемоги.  
            .part.part-4.part-img
                //- img(src="./img/illustrations/men.png", alt="")
section.story-section#story 
    .container
        h2.h2 Історії відважних газовиків
        .wrap-cards 
            a(href="#").card 
                img(src="./img/people/nataliya-korkach.jpg", alt="") 
                .hero-info
                    p.hero-name Наталія
                    p.hero-name Коркач
                    p.hero-work Технік внутрішньобудинкового газового обладнання (ВБГО)
            a(href="#").card 
                img(src="./img/people/vasyl-polkin.jpg", alt="") 
                .hero-info
                    p.hero-name Василь
                    p.hero-name Полькін
                    p.hero-work Електрогазозварювальник V розряду Краматорського управління
            a(href="#").card 
                img(src="./img/people/olexandy-hordienko.jpg", alt="") 
                .hero-info
                    p.hero-name Олександр
                    p.hero-name Гордієнко
                    p.hero-work Водій автотранспортних засобів Костянтинівського управління
            a(href="#").card 
                img(src="./img/people/andriy-klec.jpg", alt="") 
                .hero-info
                    p.hero-name Клєц 
                    p.hero-name Андрій
                    p.hero-work Коробочкінська ОВС ШВВГ УКПГ Вишневського ГК
            a(href="#").card 
                img(src="./img/people/keteryna-ivachevich.jpg", alt="") 
                .hero-info
                    p.hero-name Катерина 
                    p.hero-name Іляшевич
                    p.hero-work Начальник зміни товаро-транспортної дільниці ЛВДС «Кременчук»
            a(href="#").card 
                img(src="./img/people/masluk-stanislav.jpg", alt="") 
                .hero-info
                    p.hero-name Маслюк 
                    p.hero-name Станіслав
                    p.hero-work Оператор, Коробочкінська ОВС ШВВГ УКПГ Вишневського ГК
            a(href="#").card 
                img(src="./img/people/birka-olexiy.jpg", alt="") 
                .hero-info
                    p.hero-name Бирка 
                    p.hero-name Олексій
                    p.hero-work Оператор, Коробочкінська ОВС ШВВГ УКПГ Волохівського ГКР
            a(href="#").card 
                img(src="./img/people/serhiy-shrubkivskiy.jpg", alt="") 
                .hero-info
                    p.hero-name Сергій 
                    p.hero-name Шрубківський
                    p.hero-work Начальник оперативно-виробничої служби Мринського ВУПЗГ


            a(href="#").card 
                img(src="./img/people/andriy-gutov.jpg", alt="") 
                .hero-info
                    p.hero-name Андрій  
                    p.hero-name Гутов
                    p.hero-work Менеджер по групі свердловин Шебелинського відділення

            a(href="#").card 
                img(src="./img/people/olexiy-vovk.jpg", alt="") 
                .hero-info
                    p.hero-name Олексій  
                    p.hero-name Вовк
                    p.hero-work Оператор Мартинівської ГРС Яблунівського ЦГНВК

            a(href="#").card 
                img(src="./img/people/oleg-zarickiy.jpg", alt="") 
                .hero-info
                    p.hero-name Олег  
                    p.hero-name Зарицький
                    p.hero-work Зливальник-розливальник товарно-транспортної дільниці

            a(href="#").card 
                img(src="./img/people/olexiy.jpg", alt="") 
                .hero-info
                    p.hero-name Олексій 
                    p.hero-work Машиніст УБМР

            a(href="#").card 
                img(src="./img/people/yaroslav-soloninka.jpg", alt="") 
                .hero-info
                    p.hero-name Ярослав  
                    p.hero-name Солонинка
                    p.hero-work Електрогазозварник Стрийського ВУПЗГ

            a(href="#").card 
                img(src="./img/people/victor-kontny.jpg", alt="") 
                .hero-info
                    p.hero-name Віктор  
                    p.hero-name Контний
                    p.hero-work Начальник зміни електростанції,Новояворівська ТЕЦ

            a(href="#").card 
                img(src="./img/people/andriy-artymchuk.jpg", alt="") 
                .hero-info
                    p.hero-name Андрій  
                    p.hero-name Артимчук
                    p.hero-work Начальник нафтоперекачувальної станції «Снігурівка»
