section.main-screen 
    .illustration-part 
        img(srcset="./img/illustrations/main_men_small.png 640w, ./img/illustrations/main_men.png 920w " , src="./img/illustrations/main_men.png",  alt="") 
    .back-block 
        header.header
            .logo-part
                a(href="").logo-nafto
                    svg(width='251' height='51' viewbox='0 0 251 51' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1_106)')
                            mask#mask0_1_106(style='mask-type:luminance' maskunits='userSpaceOnUse' x='0' y='0' width='250' height='51')
                                path(d='M249.873 0.995605H0V50.0992H249.873V0.995605Z' fill='white')
                            g(mask='url(#mask0_1_106)')
                                path(d='M9.03098 6.71948C8.6586 7.08254 8.2862 7.4456 7.91382 7.71789C8.2862 7.4456 8.56549 7.17331 8.93789 6.90102C8.93789 6.90102 9.03098 6.81024 9.03098 6.71948Z' fill='white')
                                path(d='M30.3492 49.1978C29.9768 49.2886 29.6044 49.3793 29.2319 49.4701C29.6044 49.4701 29.9768 49.3793 30.3492 49.1978Z' fill='white')
                                path(d='M48.968 17.3387C49.0612 17.3387 49.0612 17.3387 48.968 17.3387C47.7579 12.8912 44.8718 9.07913 40.8686 6.3562C39.0067 5.08549 36.7723 4.35938 34.9105 4.35938C33.7932 4.35938 32.7693 4.63167 31.9314 5.08549C29.697 6.3562 28.5798 8.17148 28.5798 10.4406C28.5798 14.1619 30.8142 16.3403 34.1656 19.6985C35.9345 21.4232 37.8896 23.4199 39.8446 25.8706C43.0098 29.9549 43.7547 35.6731 41.8927 40.8467C41.0548 43.1157 39.7515 45.1126 38.1689 46.7464C38.1689 46.7464 38.1689 46.7464 38.0757 46.8371C42.0789 44.6588 45.058 41.4821 46.92 37.6699C50.6438 29.8642 47.8509 24.4183 46.2683 21.2416C45.3373 19.4263 44.6856 18.2463 45.3373 17.3387C46.0821 16.2495 47.3855 16.2495 48.968 17.3387Z' fill='white')
                                path(d='M30.8151 35.8543C28.4877 32.3145 25.0431 31.0438 21.5053 29.6823C17.9677 28.3209 14.43 27.0502 11.3578 23.5104C8.28564 20.0612 7.07537 15.6138 7.72705 11.0756C7.91324 9.62338 8.37873 8.26192 8.93731 7.08197C8.93731 7.08197 8.93731 6.99121 9.0304 6.99121C8.56492 7.17274 8.19253 7.44504 7.91324 7.71733C2.88601 12.3463 0 18.6998 0 25.5979C0 36.3081 7.35466 46.02 17.9677 49.1059C18.9918 49.3783 20.0158 49.469 21.1331 49.469C24.6707 49.469 27.929 47.926 29.8841 45.2938C30.9082 43.9324 31.4668 42.3893 31.653 40.9371C32.0253 39.031 31.746 37.3066 30.8151 35.8543Z' fill='white')
                                path(d='M37.7966 27.231C35.9348 24.871 34.0728 22.965 32.397 21.2405C28.8594 17.7914 26.1595 14.9777 26.1595 10.3487C26.1595 5.53822 29.6971 2.99682 33.0487 2.17994C32.8625 2.08917 32.6763 2.08917 32.4902 2.08917C30.1627 1.45382 27.6491 1 25.2286 1C21.1322 1 17.8738 1.81688 14.7087 3.63217C12.3812 4.99363 10.6123 7.98886 10.1468 11.3471C9.77445 13.6163 9.77445 18.0638 13.219 21.9665C15.9188 25.0526 19.2704 26.3233 22.4357 27.5032C26.1595 28.9555 30.0696 30.4077 32.8625 34.5829C34.7244 37.3965 34.7244 41.481 32.9556 44.8393C32.8625 45.1115 32.6763 45.2931 32.5832 45.4746C32.5832 45.5653 32.4902 45.5653 32.4902 45.6561C31.0937 47.8344 28.8594 49.4682 26.5319 50.0129C27.7421 49.8313 28.9524 49.5589 30.0696 49.196C30.1627 49.196 30.2558 49.1051 30.442 49.1051C30.6282 49.0144 30.7212 49.0144 30.9074 48.9236C31.1867 48.8329 31.4661 48.7422 31.6523 48.5606C31.8384 48.4698 32.0246 48.3791 32.1178 48.2882C32.49 48.1067 32.8625 47.8344 33.3279 47.6529C33.4211 47.6529 33.4211 47.5622 33.5141 47.5622C33.9796 47.2899 34.352 47.0175 34.7244 46.6545L34.8175 46.5637C35.1899 46.2915 35.5623 45.9284 35.9348 45.5653C36.0278 45.4746 36.1208 45.3838 36.214 45.2931C36.4933 45.0208 36.6795 44.7484 36.9587 44.4762C37.1449 44.2946 37.3311 44.0224 37.5174 43.8408C37.7036 43.5686 37.8898 43.387 38.076 43.1148C38.169 43.0239 38.2621 42.8424 38.3552 42.7517C38.3552 42.7517 38.3552 42.6608 38.4483 42.6608C39.0069 41.7532 39.4724 40.8456 39.8448 39.8472C41.1481 35.672 40.4965 30.7707 37.7966 27.231Z' fill='white')
                                path(d='M74.3848 19.1519H66.4717V27.6837H61.5376V6.53564H66.4717V14.6137H74.3848V6.53564H79.319V27.6837H74.3848V19.1519Z' fill='white')
                                path(d='M94.6788 6.53564H99.1475L108.178 27.6837H102.871L101.103 23.2363H92.5376L90.7688 27.6837H85.6484L94.6788 6.53564ZM94.3065 18.6981H99.1475L96.727 12.7076L94.3065 18.6981Z' fill='white')
                                path(d='M121.306 25.0522C115.534 24.9614 111.624 22.0569 111.624 16.7926C111.624 11.5282 115.534 8.62378 121.306 8.53302V6.26392H126.241V8.53302C131.919 8.62378 135.923 11.619 135.923 16.7926C135.923 22.0569 132.013 25.0522 126.241 25.0522V27.8658H121.306V25.0522ZM121.306 20.6046V12.8897C118.141 12.9805 116.931 14.705 116.931 16.7019C116.931 19.2432 118.327 20.5139 121.306 20.6046ZM126.334 12.9805V20.6955C129.592 20.6046 130.802 19.334 130.802 16.8834C130.709 14.7958 129.592 13.0712 126.334 12.9805Z' fill='white')
                                path(d='M140.575 6.53564H158.543V11.0739H152.026V27.6837H147.093V11.0739H140.575V6.53564Z' fill='white')
                                path(d='M175.022 6.17358C181.633 6.17358 186.566 10.3488 186.566 17.0653C186.566 23.5096 181.633 27.9571 175.022 27.9571C168.412 27.9571 163.479 23.7819 163.479 17.0653C163.479 10.9841 168.04 6.17358 175.022 6.17358ZM175.022 23.5096C179.119 23.5096 181.259 20.6959 181.259 17.0653C181.259 13.1624 178.467 10.621 175.022 10.621C171.392 10.621 168.785 13.1624 168.785 17.0653C168.692 20.6959 171.484 23.5096 175.022 23.5096Z' fill='white')
                                path(d='M194.108 6.53564H206.489V11.0739H199.042V27.6837H194.108V6.53564Z' fill='white')
                                path(d='M217.475 6.53564H221.944L230.975 27.6837H225.668L223.898 23.2363H215.333L213.565 27.6837H208.538L217.475 6.53564ZM217.103 18.6981H221.944L219.524 12.7076L217.103 18.6981Z' fill='white')
                                path(d='M234.326 24.236L237.026 20.9684C238.33 22.3298 240.098 23.5098 241.867 23.5098C243.17 23.5098 244.939 22.9651 244.939 21.2407C244.939 19.97 243.915 19.0624 241.588 19.0624H239.632V14.5241H241.494C242.891 14.5241 244.195 13.8888 244.195 12.6181C244.195 11.2566 243.17 10.6212 241.774 10.6212C240.378 10.6212 239.074 11.2566 237.956 12.7996L235.071 9.53206C236.468 7.53525 239.26 6.08301 242.426 6.08301C246.335 6.08301 249.129 8.17059 249.129 12.0735C249.129 13.6165 248.383 15.341 246.429 16.6117V16.7024C249.035 17.5193 249.967 19.3346 249.967 21.7853C249.967 25.6881 246.057 28.048 242.146 28.048C237.77 28.048 235.536 25.8696 234.326 24.236Z' fill='white')
                                path(d='M61.5376 40.2092H66.2855V41.5706H63.027V48.378H61.5376V40.2092Z' fill='white')
                                path(d='M69.0777 40.1187H70.381L73.9188 48.2874H72.336L71.4983 46.1999H67.9605L67.0296 48.3781H65.54L69.0777 40.1187ZM68.426 44.9292H70.8465L69.6363 42.0247L68.426 44.9292Z' fill='white')
                                path(d='M74.3843 47.108L75.2222 46.1095C75.7807 46.6542 76.5255 47.108 77.1772 47.108C78.0151 47.108 78.7598 46.7449 78.7598 45.928C78.7598 45.2926 78.2943 44.8388 77.2702 44.8388H76.4323V43.4773H77.2702C77.9219 43.4773 78.4805 43.1143 78.4805 42.3882C78.4805 41.6621 77.9219 41.3897 77.2702 41.3897C76.6185 41.3897 76.0599 41.6621 75.5944 42.2974L74.7566 41.299C75.3152 40.5728 76.3393 40.0283 77.4564 40.0283C78.946 40.0283 79.9701 40.8452 79.9701 42.2974C79.9701 42.9328 79.5977 43.6588 78.853 44.1126C79.8769 44.385 80.3425 45.1111 80.3425 46.0187C80.3425 47.5618 78.946 48.4694 77.3634 48.4694C75.7807 48.4694 74.8497 47.7433 74.3843 47.108Z' fill='white')
                                path(d='M85.9287 40.0283C88.4424 40.0283 90.3044 41.6621 90.3044 44.2035C90.3044 46.6542 88.4424 48.3787 85.9287 48.3787C83.4152 48.3787 81.5532 46.7449 81.5532 44.2035C81.5532 41.9344 83.322 40.0283 85.9287 40.0283ZM85.9287 47.108C87.6977 47.108 88.7216 45.8373 88.7216 44.2035C88.7216 42.479 87.5115 41.299 85.9287 41.299C84.3461 41.299 83.1358 42.479 83.1358 44.2035C83.1358 45.928 84.3461 47.108 85.9287 47.108Z' fill='white')
                                path(d='M97.1931 41.48H93.4693V48.2874H91.9797V40.1187H98.6827V48.2874H97.1931V41.48Z' fill='white')
                                path(d='M104.734 40.0283C107.248 40.0283 109.11 41.6621 109.11 44.2035C109.11 46.6542 107.248 48.3787 104.734 48.3787C102.22 48.3787 100.359 46.7449 100.359 44.2035C100.359 41.9344 102.127 40.0283 104.734 40.0283ZM104.734 47.108C106.503 47.108 107.527 45.8373 107.527 44.2035C107.527 42.479 106.317 41.299 104.734 41.299C103.152 41.299 101.941 42.479 101.941 44.2035C101.941 45.928 103.152 47.108 104.734 47.108Z' fill='white')
                                path(d='M117.208 47.5614C116.649 48.1059 115.625 48.469 114.508 48.469C111.901 48.469 110.226 46.8352 110.226 44.2938C110.226 41.934 111.715 40.1187 114.508 40.1187C115.625 40.1187 116.463 40.4817 117.022 40.9355L116.37 42.0247C115.905 41.6616 115.346 41.48 114.508 41.48C112.925 41.48 111.808 42.5693 111.808 44.3845C111.808 46.1091 113.018 47.289 114.694 47.289C115.439 47.289 116.091 47.1075 116.649 46.6537L117.208 47.5614Z' fill='white')
                                path(d='M117.582 40.2092H124.471V41.5706H121.771V48.378H120.281V41.5706H117.582V40.2092Z' fill='white')
                                path(d='M127.543 40.1187H128.846L132.384 48.2874H130.801L129.964 46.1999H126.426L125.588 48.2874H124.098L127.543 40.1187ZM126.891 44.9292H129.312L128.102 42.0247L126.891 44.9292Z' fill='white')
                                path(d='M138.436 48.378H136.946V45.0197C136.574 45.292 135.829 45.5644 134.991 45.5644C133.688 45.5644 132.477 44.929 132.477 42.9322V40.2092H133.967V42.5691C133.967 43.8398 134.619 44.2936 135.456 44.2936C136.108 44.2936 136.667 44.0213 137.039 43.749V40.2092H138.529V48.378H138.436Z' fill='white')
                                path(d='M143.276 40.1187H144.58L148.118 48.2874H146.534L145.696 46.1999H142.16L141.321 48.2874H139.832L143.276 40.1187ZM142.625 44.9292H145.046L143.836 42.0247L142.625 44.9292Z' fill='white')
                                path(d='M154.262 41.48H151.748L151.562 43.0231C151.096 47.7428 149.979 48.5597 148.303 48.2874V46.8352C148.955 46.9259 149.793 46.6537 150.165 41.7524L150.258 40.1187H155.564V48.2874H154.076V41.48H154.262Z' fill='white')
                                path(d='M159.477 43.0229C159.849 42.9322 160.221 42.9322 160.407 42.9322C162.547 42.9322 163.572 43.9306 163.572 45.5644C163.572 47.2889 162.361 48.378 160.127 48.378C159.289 48.378 158.545 48.378 157.987 48.378V40.2092H159.477V43.0229ZM159.477 44.2936V46.9258C159.755 46.9258 160.035 46.9258 160.313 46.9258C161.431 46.9258 162.083 46.472 162.083 45.4735C162.083 44.5659 161.431 44.1121 160.313 44.1121C160.127 44.2936 159.849 44.2936 159.477 44.2936Z' fill='white')
                                path(d='M170.647 44.8383H166.829V48.2874H165.341V40.1187H166.829V43.4769H170.647V40.1187H172.136V48.2874H170.647V44.8383Z' fill='white')
                                path(d='M176.885 40.1187H178.187L181.725 48.2874H180.143L179.305 46.1999H175.767L174.929 48.2874H173.44L176.885 40.1187ZM176.233 44.9292H178.653L177.443 42.0247L176.233 44.9292Z' fill='white')
                                path(d='M185.542 40.2092H187.032V44.1121L190.29 40.2092H192.058L188.614 44.0213L192.244 48.378H190.382L186.938 44.2028V48.378H185.449V40.2092H185.542Z' fill='white')
                                path(d='M196.807 40.0283C199.321 40.0283 201.184 41.6621 201.184 44.2035C201.184 46.6542 199.321 48.3787 196.807 48.3787C194.295 48.3787 192.433 46.7449 192.433 44.2035C192.433 41.9344 194.201 40.0283 196.807 40.0283ZM196.807 47.108C198.577 47.108 199.601 45.8373 199.601 44.2035C199.601 42.479 198.391 41.299 196.807 41.299C195.225 41.299 194.015 42.479 194.015 44.2035C194.015 45.928 195.225 47.108 196.807 47.108Z' fill='white')
                                path(d='M202.857 40.2092H204.347L207.234 44.0213L209.932 40.2092H211.329V48.378H209.84V42.4784L207.234 46.1089H207.046L204.347 42.4784V48.378H202.857V40.2092Z' fill='white')
                                path(d='M218.871 41.48H215.147V48.2874H213.658V40.1187H220.361V48.2874H218.871V41.48Z' fill='white')
                                path(d='M225.201 40.1187H226.505L230.041 48.2874H228.459L227.621 46.1999H224.084L223.246 48.2874H221.57L225.201 40.1187ZM224.549 44.9292H226.971L225.759 42.0247L224.549 44.9292Z' fill='white')
                                path(d='M236.56 44.8383H232.743V48.2874H231.253V40.1187H232.743V43.4769H236.56V40.1187H238.05V48.2874H236.56V44.8383Z' fill='white')
                                path(d='M240.563 40.2092H242.053V48.378H240.563V40.2092Z' fill='white')
                                path(d='M248.291 45.5644H247.08L245.218 48.378H243.542L245.684 45.292C244.938 44.929 244.194 44.2029 244.194 43.0229C244.194 41.4799 245.218 40.2092 247.639 40.2092C248.197 40.2092 249.221 40.2092 249.687 40.2092V48.378H248.197V45.5644H248.291ZM248.291 44.2028V41.5706C248.105 41.5706 247.639 41.5706 247.359 41.5706C246.428 41.5706 245.777 42.1153 245.777 42.9322C245.777 43.6582 246.335 44.1121 246.987 44.2028H248.291Z' fill='white')
                        defs
                            clippath#clip0_1_106
                                rect(width='250.428' height='49.1036' fill='white' transform='translate(0 0.995605)')
                a(href="").logo-frng
                    img(src="./img/logos/frng.png", alt="frng_logo")
            nav.navigation
                ul.navigation-ul 
                    li.navigation-li 
                        a.navigation-link.white-links(href="#idea") Про проект  
                    li.navigation-li 
                        a.navigation-link.white-links(href="#story") Історії
        .mobile-main-illustration 
            img(src="./img/illustrations/main_men.png", alt="")               
        .main-info 
            p.hashtag  #ГероїГазовогоФронту
            h1.h1 Дякуємо за тепло героям цієї зими!
section.project-idea#idea
    .container
        h2.h2 Ідея проєкту
        p.section-subname Ми сильні, тому що вдячні своїм героям і цінуємо кожного
        .wrap-parts 
            .part.part-img.left-part.part-1
                //- img(src="./img/illustrations/women.png", alt="") 
            .part.text-part.right-part.part-2 
                h3.h3 #Вистояли!
                p.normal_text Україна завершила найважчий опалювальний сезон. Погрози ворога заморозити нас не здійснились. 
                p.normal_text Завдяки щоденній роботі тисяч фахівців Нафтогазу українці були з теплом. 
                p.normal_text Попри війну продовжується видобуток газу, запускаються нові свердловини. Під обстрілами відновлюється пошкоджена газова інфраструктура. 
            .part.text-part.left-part.part-3
                h3.h3 #Дякуємо!
                p.normal_text Проєкт <span> «Герої Газового фронту» </span>  розповідатиме історії самовідданості, жертовності, мужності людей Нафтогазу.
                p.normal_text Ми розкажемо Світові про незламність українців, які долають ворога на всіх фронтах. 
                p.normal_text Ми надихнемо людей дякувати газовикам за їх працю, посилимо впевненість в майбутньому: якщо пройшли цю зиму, вистроїмо і надалі до нашої Перемоги.  
            .part.part-4.part-img
                //- img(src="./img/illustrations/men.png", alt="")
section.story-section#story 
    .container
        h2.h2 Історії відважних газовиків
        .wrap-cards 
            a(href="#").card 
                img(src="./img/people/nataliya-korkach.jpg", alt="") 
                .hero-info
                    p.hero-name Наталія
                    p.hero-name Коркач
                    p.hero-work Технік внутрішньобудинкового газового обладнання (ВБГО)
            a(href="#").card 
                img(src="./img/people/vasyl-polkin.jpg", alt="") 
                .hero-info
                    p.hero-name Василь
                    p.hero-name Полькін
                    p.hero-work Електрогазозварювальник V розряду Краматорського управління
            a(href="#").card 
                img(src="./img/people/olexandy-hordienko.jpg", alt="") 
                .hero-info
                    p.hero-name Олександр
                    p.hero-name Гордієнко
                    p.hero-work Водій автотранспортних засобів Костянтинівського управління
            a(href="#").card 
                img(src="./img/people/andriy-klec.jpg", alt="") 
                .hero-info
                    p.hero-name Клєц 
                    p.hero-name Андрій
                    p.hero-work Коробочкінська ОВС ШВВГ УКПГ Вишневського ГК
            a(href="#").card 
                img(src="./img/people/keteryna-ivachevich.jpg", alt="") 
                .hero-info
                    p.hero-name Катерина 
                    p.hero-name Іляшевич
                    p.hero-work Начальник зміни товаро-транспортної дільниці ЛВДС «Кременчук»
            a(href="#").card 
                img(src="./img/people/masluk-stanislav.jpg", alt="") 
                .hero-info
                    p.hero-name Маслюк 
                    p.hero-name Станіслав
                    p.hero-work Оператор, Коробочкінська ОВС ШВВГ УКПГ Вишневського ГК
            a(href="#").card 
                img(src="./img/people/birka-olexiy.jpg", alt="") 
                .hero-info
                    p.hero-name Бирка 
                    p.hero-name Олексій
                    p.hero-work Оператор, Коробочкінська ОВС ШВВГ УКПГ Волохівського ГКР
            a(href="#").card 
                img(src="./img/people/serhiy-shrubkivskiy.jpg", alt="") 
                .hero-info
                    p.hero-name Сергій 
                    p.hero-name Шрубківський
                    p.hero-work Начальник оперативно-виробничої служби Мринського ВУПЗГ


            a(href="#").card 
                img(src="./img/people/andriy-gutov.jpg", alt="") 
                .hero-info
                    p.hero-name Андрій  
                    p.hero-name Гутов
                    p.hero-work Менеджер по групі свердловин Шебелинського відділення

            a(href="#").card 
                img(src="./img/people/olexiy-vovk.jpg", alt="") 
                .hero-info
                    p.hero-name Олексій  
                    p.hero-name Вовк
                    p.hero-work Оператор Мартинівської ГРС Яблунівського ЦГНВК

            a(href="#").card 
                img(src="./img/people/oleg-zarickiy.jpg", alt="") 
                .hero-info
                    p.hero-name Олег  
                    p.hero-name Зарицький
                    p.hero-work Зливальник-розливальник товарно-транспортної дільниці

            a(href="#").card 
                img(src="./img/people/olexiy.jpg", alt="") 
                .hero-info
                    p.hero-name Олексій 
                    p.hero-work Машиніст УБМР

            a(href="#").card 
                img(src="./img/people/yaroslav-soloninka.jpg", alt="") 
                .hero-info
                    p.hero-name Ярослав  
                    p.hero-name Солонинка
                    p.hero-work Електрогазозварник Стрийського ВУПЗГ

            a(href="#").card 
                img(src="./img/people/victor-kontny.jpg", alt="") 
                .hero-info
                    p.hero-name Віктор  
                    p.hero-name Контний
                    p.hero-work Начальник зміни електростанції,Новояворівська ТЕЦ

            a(href="#").card 
                img(src="./img/people/andriy-artymchuk.jpg", alt="") 
                .hero-info
                    p.hero-name Андрій  
                    p.hero-name Артимчук
                    p.hero-work Начальник нафтоперекачувальної станції «Снігурівка»
